*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fffaf1;
    padding-left: 70px;
}

img{
    max-width: none!important;
}
/*top bar style*/

div#top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #2f5d83;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f5d83), to(#4f80a2));
    background: -webkit-linear-gradient(top, #2f5d83, #4f80a2);
    background: -moz-linear-gradient(top, #2f5d83, #4f80a2);
    background: -ms-linear-gradient(top, #2f5d83, #4f80a2);
    background: -o-linear-gradient(top, #2f5d83, #4f80a2);
    background-image: -ms-linear-gradient(top, #2f5d83 0%, #4f80a2 100%);
    overflow: hidden;
    z-index: 999;
}

div#top-bar ul{
    position: absolute;
    left: 15%;
}

/*search style*/
div#top-bar div.search-region{
    position: absolute;
    top: 7px;
    left: 35%;
}

div#top-bar div.search-region form{
    width:100%;
    margin:0 auto;
}
input.search {
    padding:6px 15px 6px 30px;
    margin:3px;
    background: #ffffff url('/resources/images/search.png') no-repeat 6px;
    height: 30px;
    width: 150%;
    outline: none;
}

input.rounded {
    border-radius:15px 0 0 15px;
    -moz-border-radius:15px 0 0 15px;
    -webkit-border-radius:15px 0 0 15px;
}

input[type=button].rounded-button,input[type=button].rounded-button:hover{
    position:absolute;
    left:150%;
    top: 3px;
    width: 80px;
    height: 30px;
    border:1px solid #adc5cf;
    border-radius:0 15px 15px 0;
    -moz-border-radius:0 15px 15px 0;
    -webkit-border-radius:0 15px 15px 0;
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
    color:#7da2aa;
    outline: none;
    cursor: pointer;
}

input[type=button].rounded-button:hover {
    background: #d5e7f3; /* Old browsers */
    background: -moz-linear-gradient(top, #d5e7f3 0%, #e4f1f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e7f3), color-stop(100%,#e4f1f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d5e7f3 0%,#e4f1f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d5e7f3 0%,#e4f1f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d5e7f3 0%,#e4f1f9 100%); /* IE10+ */
    background: linear-gradient(top, #d5e7f3 0%,#e4f1f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e7f3', endColorstr='#e4f1f9',GradientType=0 ); /* IE6-9 */
    color:#7da2aa;
    outline: none;
    cursor: pointer;
}

div#top-bar ul.top-menu-2{
    margin-top: 5px;
    position: absolute;
    left: 70%;
    top: 0;
}

div#top-bar ul li{
    display: table-cell;

}

div#top-bar img.mini-photo{
    margin-left: 50px;
    text-align: left;
    width: auto;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
}

div#top-bar h5.user-name{
    margin-left: 10px;
    max-width: 100;
    color: white;
}

div#top-bar img.left-menu{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    float: left;
    text-align: left;
    width: auto;
    height: 30px;
    cursor: hand;
}

div#top-bar img.right-menu{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1%;
    margin-top: 10px;
    width: auto;
    height: 30px;
    cursor: hand;
}


/*left bar style*/

body div#left-bar{
    position: fixed;
    left: 0%;
    top: 50px;
    width: 17%;
    height: 100%;
    padding-bottom: 10px;
    background-color: #e9eaed;
    text-align: center;
    border-right: 1px solid #cccccc;
}

body div#left-bar h1{
    color: #ffffff;
    text-decoration: none;
}

body div#left-bar div.exit{
    position: fixed;
    bottom: 0;
}

body div#left-bar ul{
    margin: 0!important;
    list-style: none!important;
}

body div#left-bar ul li{
    border-bottom: 1px dotted #2f5d83;
    text-decoration: none;
}

body div#left-bar ul li:hover{
    background-color: #e5e6e9;
}

body div#left-bar div.exit:hover{
    background-color: #e9eaed;
}

/*Right bar style*/

div#right-bar {
    position: fixed;
    display: none;
    right: 0;
    top: 50px;
    width: 17%;
    height: 100%;
    background-color: #e9eaed;
    text-align: center;
    border-left: 1px solid #cccccc;
}

/*main block style*/

div#main{
    position: absolute;
    left: 17%;
    top: 50px;
    padding-left: 1%;
    width: 63%;
}

.mytext {
    width: 400px;
}

table.data td.actions-td{
    width: 75%;
    padding-left: 2%!important;
    padding-right: 1%!important;
}

table.data td.date-td{
    text-align: center;
    width: 20%;
    font-style: italic;
    vertical-align: middle;
    color: #9D9D9E;
    font-size: smaller;
    padding-right: 1%!important;
}

table.data td.done-td a.done-action:hover{
    background: url("/resources/images/action-status-1.png");
}

#actions{
    position: absolute;
    width: 100%;
    float: left;
}

a.done-action{

}


/*details form style*/

#details-action{
    display: none;
    position: fixed;
    width: 15%;
    padding-left: 1%;
    padding-right: 1%;
    right: 0;
    z-index: 999;
    background-color: #cfd8de;
}

#details-action form table.form{
    margin-top: -20px;
}

div#details-action img.close-details-form{

}

input[type="radio"]{
    display: none;
}

label.act-priority-0, label.act-priority-1, label.act-priority-2,
label.act-priority-3{
    width: 25px;
    height: 25px;
    border: 1px solid #9D9D9E;
}

label{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

label.act-priority-0{
    border-radius: 5px 0 0 5px;
    border-right: none;
}

label.act-priority-3{
    border-radius: 0 5px 5px 0;
    border-left: none;
}

label.act-priority-2{
    border-left: none;
}

label:hover{
    color: #ffffff;
    background-color: #0088cc;
}


input[type="radio"]:checked+label{
    color: #ffffff;
    background-color: #0088cc;
}

input[type="text"]:checked+label{
    height: 25px!important;
    color: #ffffff;
    background-color: #0088cc;
}

.onoffswitch {
    position: relative;
    width: 90px!important;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    text-align: left;
    background-color: #04ABDE; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*peoples style*/
div#main table.peoples-list{
    width: 70%;
}

div#main table.peoples-list tr td div.add-to-friend-button{
    display: table-cell;
    vertical-align: middle;
    border-radius: 7px 5px 5px 5px;
    border: 1px solid #ffffff;
    width: 160px;
    text-align: center;
    height: 40px;
    background-color: #2f5d83;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f5d83), to(#4f80a2));
    background: -webkit-linear-gradient(top, #2f5d83, #4f80a2);
    background: -moz-linear-gradient(top, #2f5d83, #4f80a2);
    background: -ms-linear-gradient(top, #2f5d83, #4f80a2);
    background: -o-linear-gradient(top, #2f5d83, #4f80a2);
    background-image: -ms-linear-gradient(top, #2f5d83 0%, #4f80a2 100%);
    cursor: hand;
}

div#main table.peoples-list tr td div.add-to-friend-button:hover{
    background-color: #2f5d83;
    background: -webkit-gradient(linear, left top, left bottom, from(#4f80a2), to(#2f5d83));
    background: -webkit-linear-gradient(top, #4f80a2, #2f5d83);
    background: -moz-linear-gradient(top, #4f80a2, #2f5d83);
    background: -ms-linear-gradient(top, #4f80a2, #2f5d83);
    background: -o-linear-gradient(top, #4f80a2, #2f5d83);
    background-image: -ms-linear-gradient(top, #4f80a2 0%, #2f5d83 100%);
    color: #ffffff;
    text-decoration: none;
}

div#main table.peoples-list tr td div.add-to-friend-button{
    color: #ffffff;
    cursor: hand;
}

div#main table.peoples-list tr td{
    padding: 10px;
}

div#main table.peoples-list tr td.add-button a:hover{
    text-decoration: none;
}

div#main table.peoples-list tr td.user-name a{
    text-decoration: none;
    color: #2f5d83;
}

img.user-avatar{
    width: 125px;
    height: auto;

}
